@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #1BB96B;
  --color-primary-accent: #148F53;
  --color-secondary: #B91B5D;
  --color-secondary-accent: #8B1546;
  --color-text: #ffffff;
  --color-background: #34383c;
  --color-muted: #808792;
}

body {
  color: var(--color-text);
  background: var(--color-background);
  font-family: var(--font-open-sans), Arial, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-montserrat), Arial, sans-serif;
  }
}

.ant-modal-content {
  background-color: #1d2125 !important;

  .ant-modal-close-x {
    color: white !important;
  }

  .ant-modal-header {
    background-color: #1d2125 !important;

    .ant-modal-title {
      color: white !important;
      font-size: 20px !important;
    }
  }
}

.ant-select-selector {
  background-color: #34383c !important;
  color: white !important;
  height: 40px !important;
}

.ant-select-selector:hover {
  background-color: #5a5e62 !important;
}

.ant-select-single {
  height: 40px !important;
}

.ant-select-arrow {
  color: white !important;
  font-size: medium !important;
}

.ant-select-dropdown {
  background-color: #0a0a0a !important;
  color: white !important;
}

.ant-select-item {
  color: white !important;
}

.ant-select-item-option-active {
  color: white !important;
  background-color: none !important;
}

.ant-select-item-option-selected {
  color: white !important;
  background-color: #0a0a0a !important;
}

.ant-select-selection-item {
  font-weight: bold !important;
}

.ant-select-single.ant-select-open .ant-select-selection-item {
  color: white !important;
}

.ant-pagination {
  display: flex;
  align-items: center;
}

.ant-table-cell {
  background: #1d2125 !important;
  color: white !important;
}

.ant-table-cell-row-hover {
  background: #1d2125 !important;
  opacity: 0.97;
  color: white !important;
}

.ant-table-wrapper .ant-table-column-sorter {
  color: white !important;
}

.ant-table-wrapper .ant-table-thead >tr>th {
  border-bottom: 1px solid #5a5e62 !important;
}

.ant-table-wrapper .ant-table-tbody >tr >td {
  border-bottom: 1px solid #5a5e62 !important;
}

.ant-empty-description {
  color: white !important;
}

.ant-pagination-simple-pager {
  color: white !important;
}

.ant-pagination-simple-pager input {
  background: #34383c !important;
  color: white !important;
}

.ant-pagination-item-link {
  color: white !important;
}

.ant-slider.ant-slider-disabled .ant-slider-rail {
  background: #5a5e62 !important;
}

.ant-slider-rail {
  background: #5a5e62 !important;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  @apply bg-[#1a1b25];
}

::-webkit-scrollbar-thumb {
  @apply bg-[#2a2b35] rounded-full;
}